node_modules

# production
dist

# local env files
.env
.env*.local

cli.js

# contract
contracts/sandbox/target
# contract
contracts/proxy/target
# contract
contracts/mock_ft/target

notes

env.development.local